<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/modules/manager.css">
    <title>内容管理</title>
    <link rel="shortcut icon" href="/favicon.ico">

    <script src="/plugins/switch/index.min.js"></script>
    <!-- <link rel="stylesheet" href="css/checkbix.min.css">
    <script src="js/checkbix.min.js"></script> -->

    <script src="/plugins/nice-select/js/jquery.nice-select.js"></script>
    <link rel="stylesheet" href="/plugins/nice-select/css/nice-select.css">


    <!-- filepond start -->
    <link rel="stylesheet" href="/plugins/filepond/dist/filepond.min.css">
    <script src="/plugins/filepond/dist/filepond.min.js"></script>
    <script src="/plugins/filepond/filepond.jquery.js"></script>
    <script src="/plugins/filepond/preview/preview.js"></script>
    <link rel="stylesheet" href="/plugins/filepond/preview/preview.css">
    <script src="/plugins/filepond/validate/type.js"></script>
    <script src="/plugins/filepond/validate/size.js"></script>
    <!-- filepond end -->
</head>

<body>
<div id="container" class="container">

    <h2 class="mt-0px  pd-16px  page-title flex justify-between align-center">
        <div>
            <a href="/" class="color-fff">首页</a>

            <span class="font-13px color-fff"> /&nbsp;内容管理</span>
        </div>


        <a href="/manager" class="color-fff font-15px">
            <i class="iconfont icon-nav_icon_xitongshezhi "></i>内容管理
        </a>
    </h2>

    <div class="manager-content">
        <div id="tabs" class="tab-container">
            <a data-tabform="settingForm" class="active">全局配置</a>
        </div>


        <div id="tabForms" class="tab-forms">
            <div id="settingForm" class="html-form mt-20px active">
                <form id="passwordForm" class="common-form common-card" action="/api/admin/savepassword" method="post"
                      enctype="multipart/form-data">
                    <div class="common-card-header flex justify-between">
                        <div class="common-card-title">密码登录</div>


                        <div>

                            <input type="checkbox" id="need_password" name="need_password" class="dis-none"
                                   value="<%- appInfo.need_password %>" <%- appInfo.need_password ? 'checked' : '' %>
                                   style="display: none">
                            <jelly-switch
                                    onToggle="handleToggle('need_password')" <%- appInfo.need_password ? 'checked' : '' %>></jelly-switch>
                        </div>
                    </div>

                    <div id="passwordPanel" class="show-panel-ani" data-height="200"
                         style="height: <%- appInfo.need_password ? '200' : '0' %>px">
                        <div class="common-card-body">

                            <div class="flex align-center mt-16px">
                                <label class="w-100px flex" for="password">新密码</label>
                                <input class="common-input" type="password" value="<%- appInfo.admin_password %>"
                                       name="password">
                            </div>
                            <div class="flex align-center mt-16px">
                                <label class="w-100px flex" for="confirmPassword">确认密码</label>
                                <input class="common-input" type="password" value="" name="confirmPassword">
                            </div>
                        </div>

                        <div class="common-card-footer">
                            <button class="submit primary mt-20px common-btn" type="submit">确认修改</button>
                        </div>
                    </div>
                </form>
                <form id="useossForm" class="common-form common-card mt-16px dis-block" action="/api/admin/savesetting"
                      method="post" enctype="multipart/form-data" style="margin-top: 1em;">
                    <div class="form-subtitle common-card-header flex align-center justify-between">
                        <div class="common-card-title">
                            <div>图床配置</div>
                            <div class="font-12px weight-300 color-999 mt-5px">
                                (如果不使用图床，上传的文件将保存在本地)
                            </div>
                        </div>
                        <div class="flex align-center">
                            <input type="checkbox" id="useoss" name="useoss" class="dis-none"
                                   value="<%- appInfo.useoss %>" <%- appInfo.useoss ? 'checked' : '' %>
                                   style="display: none">
                            <jelly-switch
                                    onToggle="handleToggle('useoss')" <%- appInfo.useoss ? 'checked' : '' %>></jelly-switch>

                        </div>
                    </div>

                    <div id="useossPanel" class="show-panel-ani" data-height="350"
                         style="height: <%- appInfo.useoss ? '350' : '0' %>px">

                        <div class="common-card-body">
                            <div class="mt-16px flex align-center">
                                <select name="osstype" id="osstype" class="nice-select small">
                                    <option value="alioss" <%- appInfo.osstype==='alioss' ? 'selected' : '' %>>阿里云
                                    </option>
                                    <option value="qiniu" <%- appInfo.osstype==='qiniu' ? 'selected' : '' %>>七牛云
                                    </option>
                                </select>
                                <a href="" class="ml-16px">图床管理</a>
                            </div>
                            <div id="oss_panel" class="oss-panel  ">
                                <div class="mt-16px flex align-center">
                                    <label for="ACCESS_KEY_ID" class="w-160px flex">ACCESS_KEY_ID</label>
                                    <input class="common-input w-360px" type="text" name="ACCESS_KEY_ID"
                                           value="<%- appInfo.ACCESS_KEY_ID %>">
                                </div>
                                <div class="mt-16px flex align-center">
                                    <label for="ACCESS_KEY_SECRET" class="w-160px flex">ACCESS_KEY_SECRET</label>
                                    <input class="common-input w-360px" type="text" name="ACCESS_KEY_SECRET"
                                           value="<%- appInfo.ACCESS_KEY_SECRET %>">
                                </div>
                                <% if(appInfo.osstype === 'alioss'){ %>
                                    <div class="mt-16px flex align-center">
                                        <label for="REGION" class="w-160px flex">REGION</label>
                                        <input class="common-input w-360px" type="text" name="REGION"
                                               value="<%- appInfo.REGION %>">
                                    </div>
                                <% } %>
                                <div class="mt-16px flex align-center">
                                    <label for="BUCKET" class="w-160px flex">BUCKET</label>
                                    <input class="common-input w-360px" type="text" name="BUCKET"
                                           value="<%- appInfo.BUCKET %>">
                                </div>
                            </div>


                        </div>

                        <div class="common-card-footer">
                            <button class="submit primary mt-20px common-btn" type="submit">提交</button>

                        </div>
                    </div>
                </form>
            </div>
           
        </div>
    </div>


</div>
<script>

    $("#tabs > a ").on("click", function (event) {
        $("#tabs > a ").each(function (index, ele) {
            $(ele).removeClass("active")

        })
        $(this).addClass("active")

        $("#tabForms .html-form").each(function (index, ele) {
            $(ele).removeClass("active")
        })

        $(`#${event.currentTarget.dataset.tabform}`).addClass("active")
    })


    $("#radioGroup1 > a").on("click", function (event) {
        $("#radioGroup1 > a ").each(function (index, ele) {
            $(ele).removeClass("active")
        })
        $(this).addClass("active")

    })


    // function exportMds () {
    //  $.ajax({
    //   url: "/api/admin/export",
    //   method: "get",
    //   success: function (data) {

    //   }
    //  })
    // }
    function handleToggle(id) {
        var event = window.event || arguments[0];
        $(`#${id}`).attr('checked', event.detail.value).val(event.detail.value)

        if (id === 'need_password') {
            if ($(`#${id}`).val() === 'true') {
                $("#passwordPanel").css("height", `${$("#passwordPanel").attr("data-height")}px`)
            } else {
                $("#passwordPanel").css("height", 0)

                $("#passwordForm").submit()
            }
        }

        if (id === 'useoss') {
            if ($(`#${id}`).val() === 'true') {
                $("#useossPanel").css("height", `${$("#useossPanel").attr("data-height")}px`)
            } else {
                $("#useossPanel").css("height", 0)

                $("#useossForm").submit()
            }
        }
    }


    function exportHtml(url) {
        partDownload(url)
    }


    $(document).ready(function () {
        $('select.nice-select').niceSelect()
        // FastClick.attach(document.body);
    });
    // Option click
    $("#osstype").on('change', function (event) {
        $("#useossForm").submit()
    });
</script>
<script src="/js/jquery_dom.js"></script>

<script>
    showMessage(`<%- typeof success !== 'undefined' && success %>`, `<%- typeof message !== 'undefined' && message %>`)
</script>

</body>

</html>
